<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Exclusive books in EKB</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/list}">Book Manager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedUserContent"
                aria-controls="navbarSupportedUserContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedUserContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/list}">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/shops}">Shops</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/users}">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user-logs}">Logs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Exit</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">

    <h2>Журнал действий пользователей</h2>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th style="color: #000000;">Имя пользователя</th>
            <th style="color: #000000;">Действие</th>
            <th style="color: #000000;">Временная метка</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="log : ${logs}">
            <td th:text="${log.username}" class="text-dark"></td>
            <td th:text="${log.action}" class="text-dark"></td>
            <td th:text="${#temporals.format(log.time, 'yyyy-MM-dd HH:mm:ss')}" class="text-dark"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
